<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.braulio.appihcfinal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Prueba" />
        <activity android:name=".AnabellePeli" />
        <activity android:name=".Prob" />
        <activity android:name=".MonjaPeli" />
        <activity android:name=".RaiderPeli" />
        <activity android:name=".IncrePeli" />
        <activity android:name=".Auxiliar" />
        <activity android:name=".Accion" />
        <activity android:name=".Ficcion"></activity>
    </application>

</manifest>